@charset "UTF-8";


@media only screen and (max-width:500px) {
    /* */
    .insider {
        margin-left: 8px;
        margin-right: 8px;
    }



    /* header */

    .top-cityu-dept {
        height: 24px;
    }

    .top-cityu-logo {
        width: 40px;
        height: 24px;
        background-size: 40px 24px;
    }

    .top-dept {
        margin-left: -56px;
        width: 112px;
        height: 20px;
    }
    .top-dept-ocio, .top-dept-csc, .top-dept-esu, .top-dept-separator { height: 20px; }
    .top-dept-ocio { width: 32px; background-size: 32px 20px; }
    .top-dept-csc, .top-dept-esu { width: 24px; background-size: 24px 20px; }
    .top-dept-separator { width: 16px; background-size: 16px 20px; }

    .top-header {
        height: 29px;
        border-top: solid 1px var(--cityu-metallic-black-30);
        border-bottom: solid 2px var(--cityu-metallic-black-30);
    }

    .top-header-title {
        margin-left: 0;
        left: 8px;
        width: 208px;
        height: 29px;
        background-image: url(../images/ui/mobile/title.png);
    }

    .top-header-volume {
        width: 80px;
        height: 100%;
        margin-top: 0;
        padding-top: 12px;
        background: none;
        color: var(--cityu-metallic-black-30);
        font-size: 12px;
        font-weight: var(--font-medium);
    }


    /* post */
    .post-title { font-size: 18px; }
    .post-content { font-size: 14px; }
    .post-content h2 { font-size: 16px; padding-bottom: 4px; }
    .post-content h2 img.h2-icon { width: 24px; margin-top: 8px; margin-right: 6px; }
    .post-content li { padding-top: 6px; padding-bottom: 6px; }
    .post-content ul,
    .post-content ol { padding-bottom: 16px; }
    .pointNext { margin-top: -16px !important; }

    .post-col8 .post-text,
    .post-col8 .post-image,
    .post-col8-imageheader .post-image,
    .post-col8-imageheader .post-text,
    .post-col8-borderbox .post-text,
    .post-col8-borderbox .post-image { float: none; }

    .post-col8 .post-content { width: auto; margin-left: 0; margin-right: 0; margin-bottom: 16px; }
    .post-col8 .post-image { width: 60%; margin-left: auto; margin-right: auto; }

    .post-col8-imageheader .post-body { margin-right: 0; }
    .post-col8-imageheader .post-image { width: 100%; margin-left: 0; margin-right: 0; background: none; }
    .post-col8-imageheader .post-image img { margin-top: 6px; width: 55%; margin-left: 16px;  }
    .post-col8-imageheader .post-title { color: var(--cityu-metallic-black-20); padding-top: 8px; }
    .post-col8-imageheader .post-text { width: 100%; margin-left: 0; margin-right: 0; }
    .post-col8-imageheader .post-text ul { padding-left: 36px; padding-right: 8px; }

    .post-col8-borderbox .post-text,
    .post-col8-borderbox .post-image { width: auto; }
    .post-col8-borderbox .post-text ul { border-right: none; padding-bottom: 0; }
    .post-col8-borderbox .post-image img {  width: 60%; margin-left: 20%; margin-right: 20%; }
    .post-col8-borderbox .post-image .post-content { margin-left: 16px; }

    .post-col4_odd,
    .post-col4_even { float: none; width: auto; }
    .post-col4 .post-title,
    .post-col4-background-inverse .post-title { text-align: left; }
    /*
    .post-col4 .post-text { float: left; width: 45%; margin-left: 8px; margin-right: 0; }
    .post-col4 .post-image { float: right; width: 45%; margin-left: 0; margin-right: 0; }
     */
    .post-col4 .post-image,
    .post-col4-background-inverse .post-image { max-width: 300px; margin-left: auto; margin-right: auto; }


    #footer-central-it,
    #cityu-footer-container { width: auto; margin-left: 16px; margin-right: 16px; }
    #cityu-footer-notes { margin-top: 16px;}
    .central-it-wrapper img { width: 80px; height: auto; }
    #footer-central-it .footer-specific { width: 100%; }
}