@charset "UTF-8";


html, body {
    height: 100%;
}

body {
    background-color: var(--cityu-secondary-spicymix-95);
}

code {
    font-family: Monaco, monospace;
    color: var(--cityu-metallic-black-30);
    background-color: var(--cityu-metallic-black-95);
    padding-left: 4px;
    padding-right: 4px;
}





/* major areas */

.container {
    margin: auto;
    width: 1008px;
    height: auto;
    background-color: #FFFFFF;
    border-left: solid 4px var(--cityu-secondary-spicymix-90);
    border-right: solid 4px var(--cityu-secondary-spicymix-90);
    padding-bottom: 40px;
}

.insider {
    margin: auto;
    width: 944px;
    height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.linebreak { clear: both; }
.horizontal-separator-space { clear: both; height: 24px; }





/* header area */

.top-cityu-dept {
    width: 100%;
    height: 96px;
}

.top-cityu-logo {
    position: relative;
    float: left;
    z-index: 100;
    width: 150px;
    height: 96px;
    background-image: url(../images/logos/cityu_vertical_black_150x96.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.top-cityu-logo::after { clear: both; display: block; }

.top-dept {
    position: absolute;
    left: 50%;
    margin-left: -112px;
    width: 224px;
    height: 40px;
    margin-top: 50px;
}
.top-dept-ocio, .top-dept-csc, .top-dept-esu, .top-dept-separator { height: 40px; float: left; }
.top-dept-ocio::after,
.top-dept-csc::after,
.top-dept-esu::after,
.top-dept-separator::after { clear: both; display: block; }
.top-dept-ocio, .top-dept-csc, .top-dept-esu { cursor: pointer; }
.top-dept-ocio { width: 64px; background-image: url(../images/ui/desktop/dept-ocio.png); }
.top-dept-csc { width: 48px; background-image: url(../images/ui/desktop/dept-csc.png); }
.top-dept-esu { width: 48px; background-image: url(../images/ui/desktop/dept-esu.png); }
.top-dept-separator { width: 32px; background-image: url(../images/ui/desktop/dept-separator.png); }

.top-header {
    width: 100%;
    height: 74px;
    border-top: solid 2px var(--cityu-metallic-black-30);
    border-bottom: solid 4px var(--cityu-metallic-black-30);
    background-color: #FFFFFF;
}

.top-header-title {
    position: absolute;
    left: 50%;
    margin-left: -312px;
    width: 624px;
    height: 74px;
    background-image: url(../images/ui/desktop/title.png);
    cursor: pointer;
}

.top-header-volume {
    position: relative;
    float: right;
    z-index: 100;
    width: 56px;
    height: 48px;
    margin-top: 14px;
    padding-right: 8px;
    padding-top: 12px;
    background-color: var(--cityu-metallic-black-30);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: var(--font-bold);
    text-align: right;
    pointer-events: none;
}
.top-header::after,
.top-header-title::after,
.top-header-volume::after { clear: both; display: block; }





/* selection panel of newspaper archive */

#panel-volumes {
    margin-top: 4px;
    width: 100%;
    min-height: 40px;
}
#panel-volumes .dropbtn {
    background-color: var(--cityu-secondary-blue-30);
    border-top: solid 2px var(--cityu-secondary-blue-20);
    border-left: solid 2px var(--cityu-secondary-blue-20);
    border-bottom: solid 4px var(--cityu-secondary-blue-20);
    border-right: solid 4px var(--cityu-secondary-blue-20);
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: var(--font-semibold);
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel-volumes .dropbtn:active {
    background-color: var(--cityu-secondary-blue-20);
    border: solid 4px var(--cityu-secondary-blue-30);
}
#panel-volumes .dropbtn img { width: 24px; height: auto; }
#panel-volumes #volInput {
    box-sizing: border-box;
    background-image: url('../images/ui/graphic_icon-volume-search.svg');
    background-position: 12px 8px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-size: 16px;
    padding: 8px 8px 8px 40px;
    border: none;
    border-bottom: 2px solid var(--cityu-metallic-black-80);
    margin-left: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 190px;
    color: var(--cityu-secondary-blue-20);
}
#panel-volumes #volInput:focus { outline: 2px solid var(--cityu-secondary-blue-60); }
#panel-volumes .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    width: 200px;
    box-sizing: border-box;
}
#panel-volumes .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cityu-metallic-black-95);
    width: 200px;
    max-height: 200px;
    overflow: auto;
    border: 2px solid var(--cityu-metallic-black-80);
    box-sizing: border-box;
    z-index: 1;
}
#panel-volumes .dropdown-content a {
    color: var(--cityu-secondary-blue-20);
    padding: 10px 16px;
    text-decoration: none;
    text-align: right;
    display: block;
}
#panel-volumes .dropdown a:hover { background-color: var(--cityu-secondary-blue-20); color: var(--cityu-metallic-black-95); }
#panel-volumes .show { display: block; }





/* side - display in desktop resolution */
.side-left,
.side-left_border-right { float: left; margin-top: 16px; }
.side-left::after,
.side-left_border-right::after { clear: both; display: block; }
.side-left_border-right { padding-right: 6px; border-right: solid 2px var(--cityu-metallic-black-40); }
.side-right,
.side-right_border-left { float: right; margin-top: 16px; }
.side-right::after,
.side-right_border-left::after { clear: both; display: block; }
.side-right_border-left { padding-left: 6px; border-left: solid 2px var(--cityu-metallic-black-40); }






/* post */

.posts { color: var(--cityu-metallic-black-20); }
.posts img { height: auto; }
.posts::after { clear: both; display: block; }
.posts a:link,
.posts a:hover,
.posts a:active,
.posts a:visited { text-decoration-style: dotted;  }
.posts a:link, .posts a:visited { color: var(--cityu-metallic-black-30); }
.posts a:hover, .posts a:active { color: var(--cityu-metallic-black-10); background-color: var(--cityu-secondary-lagoon-95); }





/* post horizontal line separator */

.posts hr {
    height: 2px;
    border-width: 0;
    color: var(--cityu-metallic-black-40);
    background-color: var(--cityu-metallic-black-40);
}
.posts hr.lineShow,
.posts hr.lineShowDesktop { visibility: visible; }
.posts hr.lineShowMobile { visibility: hidden; }





/* post default styles */

.post-title {
    font-size: 24px;
    font-weight: var(--font-extrabold_ultrabold);
    margin-bottom: 8px;
}
.post-content {
    font-size: 18px;
    font-weight: var(--font-medium);
}
.post-content li,
.post-content p { padding-top: 8px; padding-bottom: 8px; }
.post-content h2 { font-size: 21px; font-weight: var(--font-semibold); margin-top: 12px; padding-bottom: 8px; }
.post-content h2 img.h2-icon { width: 32px; height: auto; margin-top: 16px; margin-right: 8px; }
.post-content .img-caption { font-size: 14px; font-style: italic; padding-bottom: 16px; }
.post-content ul,
.post-content ol { padding-bottom: 21px; }
.post-body { min-height: 120px; height: auto; padding-top: 40px; display: block; overflow: hidden; }
.post-body strong { font-weight: var(--font-black_heavy); }
.post-title::after,
.post-content::after,
.post-body::after,
.post-text::after,
.post-image::after { clear: both; display: block; }
.img-border img { border: solid 4px var(--cityu-metallic-black-80); box-sizing: border-box; }
.img-borderless img { border: none !important; }
.post-image-width60percent { width: 60%; margin: auto; }
.post-image-width60percent img { width: 100%; }
.pointNext { margin-top: -24px !important; }
.img-frame img { border: solid 4px var(--cityu-metallic-black-80); background-color: var(--cityu-metallic-black-90); box-sizing: border-box; }





/* headline and sub-headline styles */

.headline {
    display: block;
    width: 80%;
    margin-left: -48px;
    margin-top: 48px;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--cityu-primary-darkred-50);
    color: #FFFFFF;
    font-family: Georgia, 'Century Old Style', 'Franklin Gothic', serif;
    font-size: 32px;
    font-weight: var(--font-semibold);
    box-shadow: 12px 8px var(--cityu-primary-darkred-30);
}
.headline::after { clear: both; display: block; }

.sub-headline {
    padding-top: 16px;
    color: var(--cityu-secondary-lagoon-30);
    font-size: 28px;
    font-weight: var(--font-bold);
    margin-bottom: 16px;
    border-bottom: solid 1px var(--cityu-metallic-black-60);
    border-right: solid 1px var(--cityu-metallic-black-60);
}





/* post blocks with full of width */

.post-col12-txt560_img328,
.post-col12-txt688_img200 { width: 100%; display: block; padding-bottom: 24px; }
.post-col12-txt560_img328 .post-body,
.post-col12-txt688_img200 .post-body { width: auto; margin-left: 24px; margin-right: 24px; }
.post-col12-txt560_img328 .post-text  { float: left; width: 560px; }
.post-col12-txt688_img200 .post-text { float: left; width: 688px; }
.post-col12-txt560_img328 .post-text ul,
.post-col12-txt688_img200 .post-text ul { padding-left: 24px; padding-right: 24px; }
.post-col12-txt560_img328 .post-image { float: left; width: 328px; margin-left: 8px; }
.post-col12-txt560_img328 .post-image img { width: 100%; }
.post-col12-txt688_img200 .post-image { float: left; width: 200px; margin-left: 8px; }
.post-col12-txt688_img200 .post-image img { width: 100%; }
.post-col12-txt560_img328::after,
.post-col12-txt688_img200::after { clear: both; display: block; }





/* post blocks with two-thirds of width */

.post-col8-img80percent,
.post-col8-img100percent { width: 624px; display: block; padding-bottom: 24px; }

.post-col8-img80percent .post-body,
.post-col8-img100percent .post-body { width: auto; margin-left: 24px; margin-right: 24px; }
.post-col8-img80percent .post-text,
.post-col8-img100percent .post-text { width: 100%; }
.post-col8-img80percent .post-text ul,
.post-col8-img100percent .post-text ul { padding-top: 12px; padding-left: 24px; padding-right: 16px; }
.post-col8-img80percent .post-image { width: 80%; margin: auto; }
.post-col8-img100percent .post-image { width: 100%; }
.post-col8-img80percent .post-image img,
.post-col8-img100percent .post-image img { width: 100%; }
.post-col8-img80percent::after,
.post-col8-img100percent::after { clear: both; display: block; }





/* post blocks with one-thirds of width */

.post-col4-img272-title_center { width: 304px; padding-bottom: 24px; }
.post-col4-img272-title_center .post-title { text-align: center; }
.post-col4-img272-title_center .post-text { width: auto; margin-left: 16px; margin-right: 16px; }
.post-col4-img272-title_center .post-text ul { padding-top: 12px; padding-left: 24px; padding-right: 16px; }
.post-col4-img272-title_center .post-image { max-width: 272px; margin: auto; }
.post-col4-img272-title_center .post-image img { width: 100%; }
.post-col4-img272-title_center::after  { clear: both; display: block; }





/* post blocks with half of width */

.post-col6-img60percent,
.post-col6-img100percent { width: 464px; display: block; padding-bottom: 24px; }

.post-col6-img60percent .post-body,
.post-col6-img100percent .post-body { width: auto; margin-left: 24px; margin-right: 24px; }
.post-col6-img60percent .post-text,
.post-col6-img100percent .post-text { width: 100%; }
.post-col6-img60percent .post-text ul,
.post-col6-img100percent .post-text ul { padding-top: 12px; padding-left: 24px; padding-right: 16px; }
.post-col6-img60percent .post-image { width: 60%; margin: auto; }
.post-col6-img100percent .post-image { width: 100%; margin: auto; }
.post-col6-img60percent .post-image img,
.post-col6-img100percent .post-image img { width: 100%; }
.post-col6-img60percent::after,
.post-col6-img100percent::after { clear: both; display: block; }





/* footer */

#footerArea {
	width: 100%;
	background-color: var(--cityu-metallic-black-20);
	min-height: 320px;
	margin: auto;
	padding-bottom: 80px;
}

#footer {
	width: 1008px;
	margin: auto;
	color: #FFFFFF;
}
#footer a:hover,
#footer a:active { background: none; text-decoration: underline; }
#footer hr {
    border-top: solid 1px var(--cityu-metallic-black-10);
    border-bottom: solid 1px var(--cityu-metallic-black-30);
    border-right-style: initial;
    border-right-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    clear: both;
}

#footer-central-it,
#cityu-footer-container { width: 944px; margin-left: auto; margin-right: auto; }

#footer-central-it { min-height: 80px; }
#footer-central-it a:link,
#footer-central-it a:hover,
#footer-central-it a:visited,
#footer-central-it a:active { color: #FFFFFF; }
#footer-central-it a:link, #footer-central-it a:visited { text-decoration: none; }
#footer-central-it a:hover, #footer-central-it a:active { text-decoration: underline; }
#footer-central-it h1 { font-size: 24px; padding-top: 32px; }
#footer-central-it h2 { font-size: 20px; padding-top: 24px; }
#footer-central-it h3 { font-size: 18px; padding-top: 20px; }
#footer-central-it p,
#footer-central-it table.footer-contact { font-size: 14px; }
#footer-central-it p { color: var(--cityu-metallic-black-80); }
#footer-central-it table.footer-contact { margin-top: 8px; }
#footer-central-it table.footer-contact th,
#footer-central-it table.footer-contact td { padding-top: 4px; padding-bottom: 4px; }
#footer-central-it table.footer-contact th { padding-right: 8px; }
#footer-central-it table.footer-contact img { height: 16px; width: auto; }
#footer-central-it .footer-specific { float: left; padding-top: 8px; width: 320px; height: 140px; margin-right: 32px; }





/* from "//template.cityu.edu.hk/template/css/cityu.base.css" */

#cityu-footer-column {overflow: hidden; clear: both; padding: 12px 0 15px 5px;font-size: 11px; color:#ffffff; }
#cityu-footer-notes {float: left; margin-top: 24px;}
#cityu-footer-links {padding-bottom: 5px;}
#cityu-footer-links a {padding: 0 5px 0 0; color:#CCCCCC; text-decoration:none;}
#cityu-footer-links a + a {padding-left: 5px; color:#CCCCCC;}
#cityu-footer-links a:hover {text-decoration:underline; color:#FFFFFF;}
#cityu-footer-icons {float: right;}
#cityu-footer-icons a + a {padding-left: 10px;}
#cityu-footer-credits {margin-top: 5px; color:#CCCCCC;}





/* from "//www.cityu.edu.hk/cio/central-it/css/central-it.css" on 2015-07-06 */
.central-it-wrapper {
	float: left;
	margin-left: 10px;
}
.central-it-wrapper img {
	border: 0;
}
.central-it-logo {
	position: relative;
	right: 0;
	bottom: 0;
}
.central-it-link {
	display: block;
	position: absolute;
	top: 26px;
	height: 16px;
	border-radius: 5px;
}
.central-it-link:hover {
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	cursor: pointer;
}
.central-it-logo.black .central-it-link:hover {
	background-color: #000;
}
.central-it-logo.color .central-it-link:hover {
	background-color: #808080;
}
.central-it-link.ocio {
	left: 0;
	width: 38px;
}
.central-it-link.csc {
	left: 42px;
	width: 32px;
}
.central-it-link.esu {
	left: 78px;
	width: 31px;
}
.central-it-link a {
	display: block;
	width: 100%;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}





/* Back to Top */

.back-to-top {
    position: fixed;
    bottom: -40px;
    right: 40px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: var(--cityu-metallic-black-40);
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.back-to-top:focus {
    color: #fff;
}
.back-to-top.show {
    bottom: 40px;
    right: 40px;
    opacity: 0.5;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.back-to-top.show:hover {
    color: #fff;
    bottom: 30px;
    opacity: 1;
    background-color: var(--cityu-metallic-black-40);
}
.arrow {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
    position: absolute; width: 12px; height: 12px; background-size: contain;
    transform: rotate(-90deg);
    top: 30%;
    left: 40%;
}
.arrow:nth-child(2){
    top: 42%;
}

@keyframes bounceAlpha {
    0% {opacity: 1; transform: rotate(-90deg) translateX(0px) scale(1);}
    25%{opacity: 0; transform: rotate(-90deg) translateX(10px) scale(0.9);}
    26%{opacity: 0; transform: rotate(-90deg) translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: rotate(-90deg) translateX(0px) scale(1);}
}

.back-to-top:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.back-to-top:hover .arrow:nth-child(2){
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

