@charset "UTF-8";


html, body {
    height: 100%;
}

body {
    background-color: var(--cityu-secondary-spicymix-95);
}

a:link,
a:hover,
a:active,
a:visited { text-decoration-style: dotted;  }
a:link, a:visited { color: var(--cityu-metallic-black-30); }
a:hover, a:active { color: var(--cityu-metallic-black-10); background-color: var(--cityu-secondary-lagoon-95); }

.container {
    /*position: relative;*/
    margin: auto;
    width: 1008px;
    height: auto;
    background-color: #FFFFFF;
    border-left: solid 4px var(--cityu-secondary-spicymix-90);
    border-right: solid 4px var(--cityu-secondary-spicymix-90);
    padding-bottom: 40px;
}

.insider {
    /*position: relative;*/
    margin: auto;
    width: 944px;
    height: 100%;
}





/* header */

.top-cityu-dept {
    width: 100%;
    height: 48px;
}

.top-cityu-logo {
    position: relative;
    float: left;
    z-index: 100;
    width: 80px;
    height: 48px;
    background-image: url(../images/ui/desktop/header-logo-cityu_black.png);
    cursor: pointer;
}
.top-cityu-logo::after { clear: both; display: block; }


.top-dept {
    position: absolute;
    left: 50%;
    margin-left: -112px;
    width: 224px;
    height: 40px;
}
.top-dept-ocio, .top-dept-csc, .top-dept-esu, .top-dept-separator { height: 40px; float: left; }
.top-dept-ocio::after,
.top-dept-csc::after,
.top-dept-esu::after,
.top-dept-separator::after { clear: both; display: block; }
.top-dept-ocio, .top-dept-csc, .top-dept-esu { cursor: pointer; }
.top-dept-ocio { width: 64px; background-image: url(../images/ui/desktop/dept-ocio.png); }
.top-dept-csc { width: 48px; background-image: url(../images/ui/desktop/dept-csc.png); }
.top-dept-esu { width: 48px; background-image: url(../images/ui/desktop/dept-esu.png); }
.top-dept-separator { width: 32px; background-image: url(../images/ui/desktop/dept-separator.png); }

.top-header {
    width: 100%;
    height: 74px;
    border-top: solid 2px var(--cityu-metallic-black-30);
    border-bottom: solid 4px var(--cityu-metallic-black-30);
    background-color: #FFFFFF;
}

.top-header-title {
    position: absolute;
    left: 50%;
    margin-left: -312px;
    width: 624px;
    height: 74px;
    background-image: url(../images/ui/desktop/title.png);
    cursor: pointer;
}

.top-header-volume {
    position: relative;
    float: right;
    z-index: 100;
    width: 56px;
    height: 48px;
    margin-top: 14px;
    padding-right: 8px;
    padding-top: 12px;
    background-color: var(--cityu-metallic-black-30);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: var(--font-bold);
    text-align: right;
    pointer-events: none;
}
.top-header-volume::after { clear: both; display: block; }




/* side */
.side-left { float: left; }
.side-left::after { clear: both; display: block; }
.side-right { float: right; }
.side-right::after { clear: both; display: block; }
.linebreak { clear: both; }
.horizontal-separator-space { clear: both; height: 24px; }



/* post */

.posts { color: var(--cityu-metallic-black-20);  }
.posts img { height: auto; }
.posts::after { clear: both; display: block; }
.post-title {
    font-size: 26px;
    font-weight: var(--font-bold);
    margin-bottom: 8px;
}
.post-content {
    font-size: 18px;
    font-weight: var(--font-medium);
}
.post-content li { padding-top: 9px; }
.post-body { min-height: 120px; height: auto; display: block; overflow: auto; }
.post-title::after,
.post-content::after,
.post-body::after,
.post-text::after,
.post-image::after { clear: both; display: block; }

.post-col8,
.post-col8-imageheader,
.post-col8-borderbox { width: 624px; display: block; }

.post-col8 .post-body { width: auto; margin-left: 24px; margin-right: 24px; }
.post-col8 .post-text { float: left; width: 280px; }
.post-col8 .post-text ul { padding-top: 12px; padding-left: 24px; padding-right: 24px; }
.post-col8 .post-image { float: left; width: 280px; margin-left: 8px; margin-right: 0; }
.post-col8 .post-image img { width: 280px; border: solid 4px var(--cityu-metallic-black-80); }
.post-col8::after { clear: both; display: block; }

.post-col8-imageheader .post-body { width: 100%; margin-right: 24px; }
.post-col8-imageheader .post-image { float: left; width: 312px; padding-top: 12px; padding-bottom: 12px; background-color: var(--cityu-metallic-black-30); }
.post-col8-imageheader .post-image img { width: 280px; border: solid 4px var(--cityu-metallic-black-80); margin-left: 12px; }
.post-col8-imageheader .post-title { margin-left: 16px; margin-right: 16px; margin-top: 8px; color: #FFFFFF; }
.post-col8-imageheader .post-text { float: left; width: 280px; margin-left: 24px; }
.post-col8-imageheader .post-text ul { padding-top: 8px; padding-left: 24px; padding-right: 24px; }
.post-col8-imageheader::after { clear: both; display: block; }

.post-col8-borderbox .post-body { width: 100%; border: solid 4px var(--cityu-metallic-black-80); }
.post-col8-borderbox .post-text { float: left; width: 280px; margin-left: 20px; margin-right: 20px; margin-top: 20px; }
.post-col8-borderbox .post-text ul { padding-top: 12px; padding-left: 20px; padding-right: 20px; padding-bottom: 12px; border-right: solid 2px var(--cityu-metallic-black-80); }
.post-col8-borderbox .post-content { margin-bottom: 24px; }
.post-col8-borderbox .post-image { float: left; width: 280px; margin-top: 24px; }
.post-col8-borderbox .post-image img { width: 280px; border: solid 4px var(--cityu-metallic-black-80); }
.post-col8-borderbox .post-image .post-content { margin-left: 16px; }
.post-col8-borderbox::after { clear: both; display: block; }


.post-col4 { width: 304px; min-height: 320px; }
.post-col4 .post-body { width: 100%; padding-left: 16px; padding-right: 16px; }
.post-col4 .post-body ul { padding-top: 12px; padding-left: 16px; padding-right: 16px; }
.post-col4::after { clear: both; display: block; }




.post-category {
    width: 100%;
    min-height: 24px;
    padding-top: 8px;
    padding-left: 8px;
    margin-top: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: var(--font-bold);
}
.post-category a:link,
.post-category a:hover,
.post-category a:active,
.post-category a:visited { color: #FFFFFF; text-decoration: none; }
.post-category::after { clear: both; display: block; }

.category-about_cityu,
.category-about_cityu a:link,
.category-about_cityu a:visited { background-color: var(--cityu-primary-red-50); }
.category-about_cityu a:hover,
.category-about_cityu a:active { background-color: var(--cityu-primary-red-40); }

.category-academics,
.category-academics a:link,
.category-academics a:visited { background-color: var(--cityu-primary-darkred-30); }
.category-academics a:hover,
.category-academics a:active { background-color: var(--cityu-primary-darkred-20); }

.category-applications_and_data,
.category-applications_and_data a:link,
.category-applications_and_data a:visited { background-color: var(--cityu-secondary-shiraz-30); }
.category-applications_and_data a:hover,
.category-applications_and_data a:active { background-color: var(--cityu-secondary-shiraz-20); }

.category-communication_and_collaboration,
.category-communication_and_collaboration a:link,
.category-communication_and_collaboration a:visited { background-color: var(--cityu-secondary-orange-30); }
.category-communication_and_collaboration a:hover,
.category-communication_and_collaboration a:active { background-color: var(--cityu-secondary-orange-20); }

.category-network_and_infrastructure,
.category-network_and_infrastructure a:link,
.category-network_and_infrastructure a:visited { background-color: var(--cityu-secondary-yellow-20); }
.category-network_and_infrastructure a:hover,
.category-network_and_infrastructure a:active { background-color: var(--cityu-secondary-yellow-10); }

.category-other_news,
.category-other_news a:link,
.category-other_news a:visited { background-color: var(--cityu-metallic-black-30); }
.category-other_news a:hover,
.category-other_news a:active { background-color: var(--cityu-metallic-black-20); }

.category-personal_computing,
.category-personal_computing a:link,
.category-personal_computing a:visited { background-color: var(--cityu-secondary-cyanblue-50); }
.category-personal_computing a:hover,
.category-personal_computing a:active { background-color: var(--cityu-secondary-cyanblue-40); }

.category-printing_facilities,
.category-printing_facilities a:link,
.category-printing_facilities a:visited { background-color: var(--cityu-secondary-blue-30); }
.category-printing_facilities a:hover,
.category-printing_facilities a:active { background-color: var(--cityu-secondary-blue-20); }

.category-research_news,
.category-research_news a:link,
.category-research_news a:visited { background-color: var(--cityu-secondary-lagoon-30); }
.category-research_news a:hover,
.category-research_news a:active { background-color: var(--cityu-secondary-lagoon-20); }

.category-security,
.category-security a:link,
.category-security a:visited { background-color: var(--cityu-secondary-sycamore-20); }
.category-security a:hover,
.category-security a:active { background-color: var(--cityu-secondary-sycamore-10); }

.category-teaching_and_learning,
.category-teaching_and_learning a:link,
.category-teaching_and_learning a:visited { background-color: var(--cityu-secondary-purple-30); }
.category-teaching_and_learning a:hover,
.category-teaching_and_learning a:active { background-color: var(--cityu-secondary-purple-20); }

.category-web_development_and_hosting,
.category-web_development_and_hosting a:link,
.category-web_development_and_hosting a:visited { background-color: var(--cityu-secondary-greenhaze-30); }
.category-web_development_and_hosting a:hover,
.category-web_development_and_hosting a:active { background-color: var(--cityu-secondary-greenhaze-20); }