@charset "UTF-8";


@media only screen and (max-width:1024px) {
    /* */
    .container {
        border: none;
        width: 100%;
    }

    .insider {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }

    .top-header {
        height: 58px;
    }

    .top-header-title {
        margin-left: -180px;
        width: 360px;
        height: 58px;
        background-image: url(../images/ui/tablet/title.png);
    }

    .top-header-volume {
        width: 50px;
        height: 44px;
        margin-top: 6px;
        padding-right: 6px;
        padding-top: 8px;
        font-size: 16px;
    }
}

