@charset "UTF-8";


@media only screen and (max-width:1024px) {
    /* */

    body { background-color: #FFFFFF; }

    .container {
        border: none;
        width: 100%;
    }

    .insider {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }




    /* header */

    .top-header {
        height: 58px;
    }

    .top-header-title {
        margin-left: -180px;
        width: 360px;
        height: 58px;
        background-image: url(../images/ui/tablet/title.png);
    }

    .top-header-volume {
        width: 50px;
        height: 44px;
        margin-top: 6px;
        padding-right: 6px;
        padding-top: 8px;
        font-size: 16px;
    }



    /* side */
    .side-left, .side-left { float: none; clear: both; margin-right: 8px; }




    /* post */

    /*
    .post-title { font-size: 24px; }
    .post-content { font-size: 16px; }
    .post-content li { padding-top: 8px; }
    */

    .post-desktop-col8 { width: 100%; }
    .post-desktop-col8 .post-body { padding-left: 16px; padding-right: 16px; }
    .post-desktop-col8 .post-text { width: 50%; }
    .post-desktop-col8 .post-image { margin-left: 0; width: 50%; }
    .post-desktop-col8 .post-image img { width: 90%; }

    .post-category { margin-top: 16px; }
}

