@charset "UTF-8";


@media only screen and (max-width:1024px) {
    /* */

    body { background-color: #FFFFFF; }

    .container {
        border: none;
        width: 100%;
    }

    .insider {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }




    /* header */

    .top-header {
        height: 58px;
    }

    .top-header-title {
        margin-left: -180px;
        width: 360px;
        height: 58px;
        background-image: url(../images/ui/tablet/title.png);
    }

    .top-header-volume {
        width: 50px;
        height: 44px;
        margin-top: 6px;
        padding-right: 6px;
        padding-top: 8px;
        font-size: 16px;
    }



    /* side */
    .side-left, .side-left { float: none; clear: both; margin-right: 8px; }




    /* post */

    /*
    .post-title { font-size: 24px; }
    .post-content { font-size: 16px; }
    .post-content li { padding-top: 8px; }
    */

    .post-col8,
    .post-col8-imageheader,
    .post-col8-borderbox { width: 100%; }
    /*.post-body { margin-left: 16px; margin-right: 16px; }*/
    .post-col8 .post-body,
    .post-col8-imageheader .post-body { width: auto; margin-left: 5%; margin-right: 5%; }
    .post-col8 .post-text,
    .post-col8 .post-image,
    .post-col8-imageheader .post-image  { width: 50%; }
    .post-col8-borderbox .post-text { width: 45%; }
    .post-col8 .post-image { margin-left: 0; }
    .post-col8-imageheader .post-text { width: 45%; margin-left: 5%; }
    .post-col8-borderbox .post-image { width: 45%; }
    .post-col8 .post-image img,
    .post-col8-imageheader .post-image img,
    .post-col8-borderbox .post-image img,
    .post-col8-borderbox .post-image .post-content { width: auto; max-width: 90%; margin-left: 5%; margin-right: 5%; }
    .post-col8-borderbox .post-image .post-content li { margin-left: 5%; }
    .post-col8-imageheader .post-image img { margin-top: 12px; }

    .post-category { margin-top: 16px; }
}

