@charset "UTF-8";


@media only screen and (max-width:1024px) {
    /* */

    body { background-color: #FFFFFF; }

    .container {
        border: none;
        width: 100%;
    }

    .insider {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }




    /* header */

    .top-header {
        height: 58px;
    }

    .top-header-title {
        margin-left: -180px;
        width: 360px;
        height: 58px;
        background-image: url(../images/ui/tablet/title.png);
    }

    .top-header-volume {
        width: 50px;
        height: 44px;
        margin-top: 6px;
        padding-right: 6px;
        padding-top: 8px;
        font-size: 16px;
    }



    /* side */
    .side-left,
    .side-left_border-right,
    .side-right,
    .side-right_border-left { float: none; clear: both; margin-top: 0; }
    .side-left_border-right { padding-right: 0; border-right: 0; }
    .side-right_border-left { padding-left: 0; border-left: 0; }




    /* post */


    .posts hr { height: 0; }


    .post-title { font-size: 22px; }
    .post-content { font-size: 16px; }
    .post-content h2 { font-size: 18px; }
    /*
    .post-content li { padding-top: 8px; }
    */

    .post-col8,
    .post-col8-width100,
    .post-col8-imageheader,
    .post-col8-borderbox { width: auto; }
    /*.post-body { margin-left: 16px; margin-right: 16px; }*/
    .post-col8 .post-body { width: auto; margin-left: 5%; margin-right: 5%; }
    .post-col8-width100 .post-image img { max-width: 536px; }
    .post-col8-width100 .pointNext img { max-width: 576px; }
    .post-col8-imageheader .post-body { width: auto; margin-left: 0; margin-right: 5%; }
    .post-col8 .post-image,
    .post-col8-imageheader .post-image  { width: 50%; }
    .post-col8 .post-text,
    .post-col8-borderbox .post-text { width: 45%; }
    .post-col8 .post-image { margin-left: 0; }
    .post-col8-imageheader .post-text { width: 45%; margin-left: 5%; }
    .post-col8-borderbox .post-image { width: 45%; }
    .post-col8 .post-image img,
    .post-col8-imageheader .post-image img,
    .post-col8-borderbox .post-image img,
    .post-col8-borderbox .post-image .post-content { width: auto; max-width: 90%; margin-left: 5%; margin-right: 5%; }
    .post-col8-borderbox .post-image .post-content li { margin-left: 5%; }
    .post-col8-imageheader .post-image img { margin-top: 12px; }


    .post-col4_odd { float: left; }
    .post-col4_even { float: right; }
    .post-col4_odd,
    .post-col4_even { width: 48%; }
    .post-col4_odd .pointNext img,
    .post-col4_even .pointNext img { margin-left: -16px; }
    .post-col4 .post-body { width: auto; margin-left: 5%; margin-right: 5%; }
    .post-col4 .post-text ul { padding-left: 12px;  }
    .post-col4-background-inverse .post-body { width: auto; }
    .post-col4 .post-image,
    .post-col4-background-inverse .post-image { width: auto; max-width: 90%; margin-left: 5%; margin-right: 5%; }
    .post-col4-background-inverse .post-title,
    .post-col4-background-inverse .post-content { width: auto; margin-left: 5%; margin-right: 5%; }


    .post-col6,
    .post-col6-width100,
    .post-col6-img60 { width: auto; }
    .post-col6 .post-body,
    .post-col6-width100 .post-body,
    .post-col6-img60 .post-body { width: auto; margin-left: 5%; margin-right: 5%; }
    .post-col6-width100 .post-image img { max-width: 536px; }
    .post-col6-width100 .pointNext img { max-width: 576px; }
    .post-col6-img60 .post-image img { max-width: 216px; }
    .post-col6-img60 .pointNext img { max-width: 256px; }

    .post-category { margin-top: 16px; }


    #footer { width: 100% }
    #footer hr { width: auto; margin-left: 16px; margin-right: 16px; }
    #footer-central-it,
    #cityu-footer-container { width: auto; margin-left: 24px; margin-right: 24px; }
    #footer-central-it h1 { font-size: 21px; padding-top: 28px; }
    #footer-central-it h2 { font-size: 18px; padding-top: 24px; }
    #footer-central-it h3 { font-size: 16px; padding-top: 20px; }

    /*
    #footer-central-it p,
    #footer-central-it table.footer-contact { font-size: 12px; }
    */
}

