@charset "UTF-8";


html, body {
    height: 100%;
}

body {
    background-color: var(--cityu-secondary-spicymix-95);
}

.container {
    /*position: relative;*/
    margin: auto;
    width: 1008px;
    height: 100%;
    background-color: #FFFFFF;
    border-left: solid 4px var(--cityu-secondary-spicymix-90);
    border-right: solid 4px var(--cityu-secondary-spicymix-90);
}

.insider {
    /*position: relative;*/
    margin: auto;
    width: 944px;
    height: 100%;
}





/* header */

.top-cityu-dept {
    width: 100%;
    height: 48px;
}

.top-cityu-logo {
    position: relative;
    float: left;
    z-index: 100;
    width: 80px;
    height: 48px;
    background-image: url(../images/ui/desktop/header-logo-cityu_black.png);
    cursor: pointer;
}

.top-dept {
    position: absolute;
    left: 50%;
    margin-left: -112px;
    width: 224px;
    height: 40px;
}
.top-dept-ocio, .top-dept-csc, .top-dept-esu, .top-dept-separator { height: 40px; float: left; }
.top-dept-ocio, .top-dept-csc, .top-dept-esu { cursor: pointer; }
.top-dept-ocio { width: 64px; background-image: url(../images/ui/desktop/dept-ocio.png); }
.top-dept-csc { width: 48px; background-image: url(../images/ui/desktop/dept-csc.png); }
.top-dept-esu { width: 48px; background-image: url(../images/ui/desktop/dept-esu.png); }
.top-dept-separator { width: 32px; background-image: url(../images/ui/desktop/dept-separator.png); }

.top-header {
    width: 100%;
    height: 74px;
    border-top: solid 2px var(--cityu-metallic-black-30);
    border-bottom: solid 4px var(--cityu-metallic-black-30);
}

.top-header-title {
    position: absolute;
    left: 50%;
    margin-left: -312px;
    width: 624px;
    height: 74px;
    background-image: url(../images/ui/desktop/title.png);
    cursor: pointer;
}

.top-header-volume {
    position: relative;
    float: right;
    z-index: 100;
    width: 56px;
    height: 48px;
    margin-top: 14px;
    padding-right: 8px;
    padding-top: 12px;
    background-color: var(--cityu-metallic-black-30);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: var(--font-bold);
    text-align: right;
    pointer-events: none;
}




/* side */
.side-left { float: left; }
.side-right { float: right; }
.linebreak { clear: both; }



/* post */

.posts { color: var(--cityu-metallic-black-20); }
.post-title {
    font-size: 26px;
    font-weight: var(--font-bold);
}
.post-content {
    font-size: 18px;
    font-weight: var(--font-medium);
}
.post-content li { padding-top: 9px; }

.post-desktop-col8 { width: 624px; min-height: 240px; }
.post-desktop-col8 .post-body { width: 100%; padding-left: 24px; padding-right: 24px; }
.post-desktop-col8 .post-body ul { padding-top: 12px; padding-left: 24px; padding-right: 24px; }
.post-desktop-col4 { width: 304px; min-height: 320px; }
.post-desktop-col4 .post-body { width: 100%; padding-left: 16px; padding-right: 16px; }
.post-desktop-col4 .post-body ul { padding-top: 12px; padding-left: 16px; padding-right: 16px; }

.post-category {
    width: 100%;
    min-height: 24px;
    padding-top: 8px;
    padding-left: 8px;
    margin-top: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: var(--font-bold);
}
.post-category a:link,
.post-category a:hover,
.post-category a:active,
.post-category a:visited { color: #FFFFFF; text-decoration: none; }

.category-about_cityu,
.category-about_cityu a:link,
.category-about_cityu a:visited { background-color: var(--cityu-primary-red-50); }
.category-about_cityu a:hover,
.category-about_cityu a:active { background-color: var(--cityu-primary-red-40); }